.corn {
    left: 600px;
    top: 390px;
}

.cupcake {
    left: 50px;
    top: 300px;
}

.fairy {
    left: 1150px;
    top: 275px;
}

.jellybean {
    left: 500px;
    top: 430px;
}

.lollipop {
    left: 890px;
    top: 55px;
}

.pinwheel {
    left: 450px;
    top: 150px;

}

.potato {
    left: 950px;
    top: 375px;
}

.rabbit {
    left: 310px;
    top: 375px;
}

.rock {
    left: 1055px;
    top: 295px;
}

.strawberry {
    left: 725px;
    top: 375px;
}

.sunshine {
    left: 210px;
    top: 100px;
}